div(class = "divheader", class = "header")
    h1(class = "header", class = "logo") Princess Patrick's Driving School
    a(href = "/logout", class = "right") Logout
    p(class = "header") Your home for all your royal driving needs 
    p(class = "header", class = "right") Princess Patrick Points Balance: #{points}



