html
    head 
        title Home
        link(rel="icon", href="C:\Users\jla_s\driveTestPractice\DrivetestPractice2\public\CastleButton.png", type="image/x-icon")
        include favicon
        style   
            include ./style.css  


    body 
        include header
        h1 Welcome to Princess Patrick's driving school
        br
        p Please choose an option below to proceed
        br
        button(class = "homePageButton")
            a(href = "/PracticeQuestionLandingPage", class = "hiddenLink") Practice all of the questions
        br
        button(class = "homePageButton")
            a(href = "/Test", class = "hiddenLink") Do a practice version of the test