html
    head 
        title Home
        link(rel="icon", href="./CastleButton.png", type="image/x-icon")
        style   
            include ./style.css  


    body 
        include header
        h1 Welcome to Princess Patrick's driving school
        br
        p Please choose an option below to proceed
        br
        a(href = "/PracticeQuestionLandingPage") Practice all of the questions
        br
        a(href = "/Test") Do a practice version of the test