html
    head 
        -// This page should take a question from the database as input and display it, and proceed to the next or previous quesiton
        -// when the next or previous buttons are pressed 
        title Practice Question
        link(rel="icon", href="./CastleButton.png", type="image/x-icon")
        script(src = "PracticeQuestions.js")
        style   
            include ./style.css  

    body     
        p#question

        button#answer1(class = "answer", onclick = "verify('A')")
        br 
        button#answer2(class = "answer", onclick = "verify('B')") 
        br
        button#answer3(class = "answer", onclick = "verify('C')") 
        br
        button#answer4(class = "answer", onclick = "verify('D')") 

        br
        button#back Back
        button#next Next
        br
        a(style = "display:none", href = "/QuestionsComplete", id = "complete") You did it! Click here to celebrate

        br 
        a(href = "/") Go back to home


        #questionsdata(style="display:none") = #{questions} 