html
    head 
        title Practice Question Landing Page
        link(rel="icon", href="./CastleButton.png", type="image/x-icon")
        style   
            include ./style.css  
    
    body 
        h1 Welcome to the practice questions! 
        br
        p We will be going through each question individually and you can try them as many times as you like 
        br
        p Click on the castle to start princess practicing! 

        a(href = "/PracticeQuestions")
        img(src="./CastleButton.png", alt="Castle Button Image")

        br 
        p Or you can click on a question below to study that particular question
        