html
    head 
        title Test
        link(rel="icon", href="./CastleButton.png", type="image/x-icon")
        style   
            include ./style.css  
    body
        include header
        p good for you