html
    head 
        -// This page should take a question from the database as input and display it, and proceed to the next or previous quesiton
        -// when the next or previous buttons are pressed 
        title Practice Question
        script(src= "PracticeQuestions.js")
        link(rel="icon", href="./CastleButton.png", type="image/x-icon")
        style   
            include ./style.css  

    body 
        h1 Questions #insert the question from the database here 


        p Insert answers here

        input(type = button, id="nextbutton", onclick = "next()", value = "Next")
        br
        input(type = button, id = "prevbutton", onclick = "prev()", value = "Previous")
    