@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

body{
    background-image: url("./Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Garamond, serif;
}

.header{
    margin: 0;
    padding: 0; 
    font-family: 'Carattere', serif;
    font-size: 25px;
}

.divheader{
    border-width: 3px; 
    border-style:solid;
    border-color:lightpink; 
    border-radius: 15px;
    background-image: url("./Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    font-size: 40px;
}

.right{
    text-align: right;
}

.answer:hover{
    border-color: hotpink;
}

.homePageButton{
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    background-color:whitesmoke;
    color: #fff; /* White text color, change as needed */
    border: 2px;
    border-color: hotpink;
    transition: background-color 0.3s, color 0.3s;
}

.hiddenLink{
    color: rgb(199, 8, 103); 
    text-decoration: none; 
    cursor: pointer; 
}

