html
    head 
        title Test
        link(rel="icon", href="./CastleButton.png", type="image/x-icon")
        style   
            include ./style.css  

    body 
        include header 
        h1 Princess Practice Exam 
        p When you're ready, click on the castle to begin the practice test 
        a(href = "/respondTest")
            img(src="./CastleButton.png", alt="Castle Button Image")
    
    